.body {
	font-family: arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	padding:0;
	margin:0;
}
footer {
	background: #404040;
	color:#999;
	padding:10px;
	font-size: 13px;
}
footer a {
	color: #bbb;
	text-decoration: none;
}
footer a:hover {
	color: #ddd;
	text-decoration: underline;
}
.content {
	flex: 1;
}
.Keyboard {
	padding:30px;
}
.KeyboardRow {
	text-align: center;
}
.KeyboardKey {
	display: inline-block;
	border: 1px solid #dcdcdc;
	margin-bottom: 5px;
	border-radius: 6px;
	cursor: pointer;
	display: inline-block;
	color: #777777;
	font-size: 18px;
	font-style: normal;
	height: 40px;
	line-height: 40px;
	width: 50px;
	text-decoration: none;
	text-align: center;
	text-shadow: 1px 1px 0px #ffffff;
}
.KeyboardKey:hover {
	background-color: #dfdfdf;
}
.KeyboardKey:active {
	position: relative;
	top: 1px;
}
.typearea {
	font-size: 18px;
	height:150px;
	width:700px;
	display: block;
	margin-top: 50px;
}
.center {
	display:flex;
	justify-content:center;
	align-items:center;
	width:100%;
}
.shift {
	display: none;
}